<form class="form-horizontal" id="addIssueForm">
<legend>Topic</legend>
<div class="form-group">
	<label class="col-lg-3 control-label" for="addIssueTitle">Title</label>
	<input id='addIssueTitle' type='text' name='Title' class='form-control'/>
</div>
<!--
<div class="form-group">
	<label class="col-lg-3 control-label" for="addIssueComment">Comment</label>
	<input id='addIssueComment' type='text' name='Comment' class='form-control'/>
</div>
-->
<div class="form-group">
	<label class="col-lg-3 control-label" for="addIssuePriority">Priority</label>
	<select id='addIssuePriority' name='Priority' class='form-control'></select>
</div>
<div class="form-group">
	<label class="col-lg-3 control-label" for="addIssueTopicType">Topic Type</label>
	<select id='addIssueTopicType' name='TopicType' class='form-control'></select>
</div>
<div class="form-group">
	<label class="col-lg-3 control-label" for="addIssueTopicLabel">Label</label>
	<select id='addIssueTopicLabel' name='TopicLabel' class='form-control'></select>
</div>
<div class="form-group">
	<label class="col-lg-3 control-label" for="addIssueTopicStatus">Topic Status</label>
	<select id='addIssueTopicStatus' name='TopicStatus' class='form-control'></select>
</div>
<div class="form-group">
	<label class="col-lg-3 control-label" for="addIssueAssignee">Assignee</label>
	<select id='addIssueAssignee' name='UserIdType' class='form-control'></select>
</div>
<legend>Viewpoint</legend>
<div id='viewpointData'></div>
<legend>Selected objects</legend>
<div id='guidData'></div>
<legend>Submit</legend>
<div class="form-group">
	<div>
		<input id="addIssueSubmitButton" type="submit" class="btn btn-primary" value="Add issue" />
	</div>
</div>
</form>
